
.salon-btn-fancy:hover,
.disabled {
    color: var(--bs-secondary);
    text-decoration: underline;
}

#search-page-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#search-page-tabs {
    flex: 1;
    display: block;
    margin-right: 5px;
}

#search-page-content {
    flex: 1;
    display: block;
    margin-right: 16px;
}

#search-page-results {
    margin: 32px 16px;
}

#perm-image {
    border: 5px solid var(--bs-primary);
    float:right;
}
