
<input
  required
  type="text"
  class="form-control"
  [formControl]="searchServiceForm"
  placeholder="Search for services..."
  (keyup)="searchAvailableServices($event)"
  >

<br>

@for (service of availableServiceSearchResults; track service.serviceId) {
  <h2
    class="search-result-links"
    [routerLink]="['/client','service',service.serviceId]">{{ service.name }}</h2>
  <p>With {{ service.employee.firstName }} {{service.employee.lastName }}</p>
} @empty {
  @if (searchServiceForm.value) {
    <h1>No results found!</h1>
  } @else {
    <h2>Start typing to view available services...</h2>
  }
}
