.home-subheaders {
    color: var(--bs-primary);
    font-size: 100px;
    font-family: "Italiana", sans-serif;
    font-weight: 800;
    text-align: center;
}

.makenna-tab {
    color: var(--bs-primary);
    border: none;
    outline: none;
    font-size: 25px;
}

.makenna-tab:hover {
    color: var(--bs-secondary);
    text-decoration: underline; 
}

#search-page-wrapper {
    margin-left: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#search-page-tabs {
    flex: 1;
    margin-right: 5px;
}

#search-page-content {
    flex: 1;
    position: absolute;
    left: 750px;
    top: 275px;
}

#results {
    margin-top: 20px;
    margin-left: 15px;
}

#perm-image {
    border: 5px solid var(--bs-primary);
}