
@if (loginService.processing) {
  <h1>Loading</h1>
} @else if (!loginService.authenticated) {
  <div>

    <h2>Username</h2>
    <input
      type="text"
      class="form-control"
      [formControl]="usernameForm"
      required
      placeholder="Enter your username..."
    >

    <br>

    <h2>Password</h2>
    <input
      type="password"
      class="form-control"
      [formControl]="passwordForm"
      required
      placeholder="Enter your password..."
    >

    <h3 style="color: red">{{ loginMessage }}</h3>

  </div>

  <div>

    <button
      class="btn salon-btn-primary"
      (click)="login()"
    >Login</button>

    <button
      class="btn salon-btn-primary"
      [routerLink]="['/register']"
    >Create Account</button>
  </div>

}
