
<div style="width: 30vw; margin: 5px auto;">

  <div>

    <h2>Username</h2>
    <input
      type="text"
      class="form-control"
      [formControl]="usernameForm"
      required
      placeholder="Enter your username..."
    >

    <br>

    <h2>Password</h2>
    <input
      type="password"
      class="form-control"
      [formControl]="passwordForm"
      required
      placeholder="Enter your password..."
    >

    <h3 style="color: red">{{ loginMessage$ | async }}</h3>

  </div>

  @if (processingLogin$ | async) {
    <div class="spinner-border m-5" role="status" style="width: 3rem; height: 3rem;">
      <span class="visually-hidden">Loading...</span>
    </div>
  } @else {
    <div>

      <button
        class="btn salon-btn-primary"
        (click)="login()"
      >Login</button>

      <button
        class="btn salon-btn-primary"
        [routerLink]="['/register']"
      >Create Account</button>
    </div>
  }

</div>
