.booking-fields {
  width: 300px;
}

#service-name {
  font-size: 50px;
  font-size: 100px;
  font-family: "Italiana", sans-serif;
  color: white;
  font-weight: 100%;
  text-align: center;
}

body {
  background-color: var(--bs-primary);
  // width: calc(100% - 100px); /* Set width to 100% of the viewport width minus the margin */
  // height: calc(100% - 40px); 
  width: 70%;
  margin-left: 15%;
}

.search-result-links {
  color: white;
}