
@if (employeeSchedule$ | async; as schedule) {

  <h3 class="salon-subheader">
    {{ schedule.length > 0? 'Upcoming appointments' : 'Your schedule is free!' }}
  </h3>

  @for (appointment of schedule; track appointment.appointmentId) {

    <h3
      class="search-result-links"
      (click)="page.change(['/employee', 'appointment', appointment.appointmentId.toString()])"
    >{{ appointment.serviceName }}</h3>
    <h5>on {{ appointment.time | localeDate }} at {{ appointment.time | localeTime }}</h5>
    <h5>with {{ appointment.client!.firstName }} {{ appointment.client!.lastName }}</h5>
    <br>
  }

  <h3 (click)="refreshEmployeeSchedule()">
    <i class="bi bi-arrow-clockwise h3" style="width: 3rem; height: 3rem;"></i>
    Refresh
  </h3>
}
