
@if (employeeSchedule$ | async; as schedule) {

  @if (schedule.length > 0) {
    <h2>Upcoming appointments: </h2>
  } @else {
    <h2>Your schedule is free!</h2>
  }

  @for (appointment of schedule; track appointment.appointmentId) {

    <h3
      class="search-result-links"
      (click)="page.change(['/employee', 'appointment', appointment.appointmentId.toString()])"
    >{{ appointment.serviceName }}</h3>
    <h5>on {{ appointment.time | localeDate }} at {{ appointment.time | localeTime }}</h5>
    <h5>with {{ appointment.client!.firstName }} {{ appointment.client!.lastName }}</h5>
    <br>
  }

  <h3 (click)="refreshEmployeeSchedule()">
    <i class="bi bi-arrow-clockwise h3" style="width: 3rem; height: 3rem;"></i>
    Refresh
  </h3>
}
