
.appointment-box {
  margin: auto;
  width: 60vw;
  text-align: center;
  border: 1px solid var(--bs-secondary);
  border-radius: var(--bs-border-radius-xl);
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.3);
}
