//load animation

#home {
  margin: 0 auto;
  width: 80vw;
}

@keyframes loadingAnimation{
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

//hover on images animation
.bouncy {
  border: 0 solid var(--bs-primary);
  transition: border .2s, transform .2s;

  &:hover {
    transform: scale(1.05);
    border-width: 5px;
  }
}

.home-main-image {
  animation: loadingAnimation 1.5s;

    @media (width >= 1400px) {
      height: 350px;
      width: 350px;
    }

    @media (width < 1400px) {
      height: 300px;
      width: 300px;
    }

    @media (width < 1200px) {
      height: 250px;
      width: 250px;
    }
}

#home-main-images {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.home-main-image-caption {
  padding-top: 10px;
}

// heading
#home-header {
  animation: loadingAnimation 1.5s;
  color: var(--bs-primary);
  font-size: 130px;
  font-family: "Italiana", sans-serif;
  font-weight: 800;
  text-align: center;
}

// titles
.home-subheaders {
    color: var(--bs-primary);
    font-size: 100px;
    font-family: "Italiana", sans-serif;
    font-weight: 800;
}

//small text
.home-plaintext {
    color: rgb(32, 32, 32);
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    animation: loadingAnimation 1.5s;
}

.employee-content {
  width: 100%;
  display: flex;
  align-items: center;

  &-left {
    flex-direction: row;
  }

  &-right {
    flex-direction: row-reverse;
    text-align: right;
  }
}

.employee-content-text {
  display: flex;
  flex-direction: column;
  padding: 10px;

  &.left {
    order: 1;
  }

  &.right {
    order: 0;
    text-align: right;
  }
}

.employee-image-bubble {
  &.left {
    order: 0;
  }

  &.right {
    order: 1;
  }
}


.employee-content-title {
    font-weight: 700;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

#contact-info-wrapper{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

// .footer{
//   margin-top: 35px;
//   border: 5px solid rgb(133, 176, 85);
//   color: rgb(133, 176, 85);
//   font-family: "Italiana", sans-serif;
//   font-weight: 800;
//   text-align: center;
//}
