<div id="home">
  <!-- heading -->
  <h1 id="home-header">KEVIN SALON</h1>

  <!-- three homepage images + captions -->
  <div id="home-main-images">
    <div class="home-main-image-wrapper">
      <img class="home-main-image" ngSrc="assets/plants2.jpeg" height="400" width="400">
      <p class="home-main-image-caption">lots of plants</p>
    </div>
    <div class="home-main-image-wrapper">
      <img
        class="home-main-image"
        ngSrc="assets/coffee_shop.jpeg" height="400" width="400">
      <p class="home-main-image-caption">complementary coffee bar</p>
    </div>
    <div class="home-main-image-wrapper">
      <img class="home-main-image" ngSrc="assets/salon_picture.jpeg" height="400" width="400">
      <p class="home-main-image-caption">hair studio</p>
    </div>
  </div>

  <!-- about the salon section -->
  <h2 class="home-subheaders"> ABOUT US </h2>
  <p class="home-plaintext">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus purus non diam imperdiet, in lobortis odio tincidunt. Duis ultricies ante ex. Pellentesque ex justo, sollicitudin ut sem ac, vulputate mattis est.
    Fusce ultricies interdum orci sed feugiat. Sed eget condimentum tellus. Nunc at metus porta, malesuada risus eget, vestibulum nisi. Morbi a pellentesque libero, et laoreet libero. Donec maximus orci eros, nec luctus
    urna ultricies ut. Praesent porttitor neque et leo mollis rhoncus. Pellentesque malesuada tellus ac eros fringilla tincidunt. Fusce lacinia purus sit amet erat gravida, id imperdiet velit laoreet. Curabitur fringilla
    sem sit amet purus tincidunt bibendum. Aliquam sed porta sapien.

    Curabitur malesuada convallis nunc, luctus varius leo finibus eget. Curabitur aliquam ornare nisi, eu rutrum purus tempus ut. Integer pharetra nulla non erat feugiat tempor. Quisque id sapien urna. Cras in nisl vel
    neque congue dictum. Curabitur placerat commodo massa in tristique. Nullam blandit dictum mi, eu scelerisque nibh tincidunt nec. Quisque sit amet justo dui. Fusce ut facilisis nulla, sodales mattis nulla. In id ex
    tempor odio rhoncus egestas at quis leo. Etiam dapibus orci ipsum, eu dapibus erat finibus sit amet. Quisque vehicula pretium luctus. Etiam dictum sodales leo, nec elementum urna. Maecenas vitae enim mauris.
    Praesent efficitur vulputate mauris ut iaculis.
  </p>

  <!-- meet the team section -->
  <h2 class="home-subheaders"> MEET THE TEAM </h2>

  @for (employee of employees; track employee.title; let idx = $index) {
    <div class="employee-content">
      <img
        [ngClass]="idx%2==0? 'left': 'right'"
        class="employee-image-bubble"  style="border-radius: 50%" [src]="employee.image">
      <div
        [ngClass]="idx%2==0? 'left': 'right'"
        class="employee-content-text">
        <p class='employee-content-title'>{{ employee.title }}</p>
        <p>{{ employee.desc }}</p>
      </div>
    </div>
  }
</div>
