
<br>
<h1 id="home-header">KEVIN SALON</h1>

<div class="image-row">
  <div class="image-col">
    <img src="../../../assets/mountains.jpeg" alt="Italian Trulli" class="image">
    <h1 class='image-subtitles'> hair </h1>
  </div>

  <div class="image-col">
    <img src="../../../assets/mountains2.webp" alt="Italian Trulli" class="image">
    <h1 class='image-subtitles'> nails </h1>
  </div>
</div>



<button
  class="salon-btn-primary"
  (click)="sayHi()"
>Say Hi</button> 

<h1> {{ message$ | async }} </h1>
  
