//load animation

#home {
  margin: 0 auto;
  width: 80vw;
}

@keyframes loadingAnimation{
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

//hover on images animation
.home-main-image {
    transition: transform .2s;
    animation: loadingAnimation 1.5s;

    @media (width >= 1400px) {
      height: 350px;
      width: 350px;
    }

    @media (width < 1400px) {
      height: 300px;
      width: 300px;
    }

    @media (width < 1200px) {
      height: 250px;
      width: 250px;
    }

    &:hover {
      transform: scale(1.05);
    }
}

#home-main-images {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.home-main-image-caption {
  padding-top: 10px;
}

// heading
#home-header {
  animation: loadingAnimation 1.5s;
  color: rgb(32, 32, 32);
  font-size: 130px;
  font-family: "Italiana", sans-serif;
  font-weight: 800;
  text-align: center;
}

// titles
.home-subheaders {
    color: rgb(133, 176, 85);
    font-size: 100px;
    font-family: "Italiana", sans-serif;
    font-weight: 800;
}

//small text
.home-plaintext {
    color: rgb(32, 32, 32);
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    animation: loadingAnimation 1.5s;
}

.employee-content {
  width: 100%;
  display: flex;
  align-items: center;

  &-left {
    flex-direction: row;
  }

  &-right {
    flex-direction: row-reverse;
  }
}

.employee-content-text {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.employee-image-bubble {
  transition: transform .2s;
  object-fit: cover;
}

.employee-content-title {
    font-weight: 700;
    font-size: 30px;
    margin: 0;
    padding: 0;
}
