
@if (clientSchedule$ | async; as schedule) {

  @if (schedule.length > 0) {
    <h2 style="text-align: center;">Upcoming Appointments </h2>
    <br>
  } @else {
    <h2 style="text-align: center;">You have no scheduled appointments!</h2>
    <p style="text-align: center;">Click Search Services to begin scheduling!</p>
  }

  @for (appointment of schedule; track appointment.appointmentId) {
    <div style="
    color: rgb(133,176,85);
    margin: auto; 
    width: 50%; 
    text-align: center;
    border-radius: 25px;
    border: 2px solid rgb(133,176,85);
    padding: 20px; 
    width: 500px;
    height: 150px;
    ">
    <h3
      class="search-result-links"
      [routerLink]="['/client', 'appointment', appointment.appointmentId]"
      >{{ appointment.serviceName }}</h3>
    <h5>on {{ appointment.time | localeDate }} at {{ appointment.time | localeTime }}</h5>
    <h5>with {{ appointment.employee.firstName }} {{ appointment.employee.lastName }}</h5>
    </div>
    <br>
  }

}
