
@if (clientSchedule$ | async; as schedule) {

  @if (schedule.length > 0) {
    <h2>Upcoming appointments: </h2>
  } @else {
    <h2>You have no scheduled appointments!</h2>
    <p>Click Search Services to begin scheduling!</p>
  }

  @for (appointment of schedule; track appointment.appointmentId) {
    <h3
      class="search-result-links"
      (click)="page.change(['/client', 'appointment', appointment.appointmentId])"
      >{{ appointment.serviceName }}</h3>
    <h5>on {{ appointment.time | localeDate }} at {{ appointment.time | localeTime }}</h5>
    <h5>with {{ appointment.employee.firstName }} {{ appointment.employee.lastName }}</h5>
    <br>
  }

}
