
.menu-buttons {
  width: 100vw;
  display: block;
  padding: 10px;
  position: static;

  > button {
    margin-right: 5px;
  }
}

#salon-author-banner {
  padding: 10px;
  background: #555;
  color: #f1f1f1;
  height: 40px;
  display: block;
  width: 100vw;
  text-align: center;

  > h2 {
    font-size: 1rem;
  }
}