<input
  type="text"
  class="form-control"
  [formControl]="usernameForm"
  required
  placeholder="Enter your username..."
  >

<input
  type="password"
  class="form-control"
  [formControl]="passwordForm"
  required
  placeholder="Enter your username..."
  >

<br> 

<button (click)="login()">Click to login!</button>

@if (auth.ready) {
  <h1>Welcome {{auth.username}}!</h1>
  <h1>{{auth.token}}</h1>
}

<br>

<button (click)="sayHi()">SayHi</button>

<h1>{{message}}</h1>

<br>

<button [routerLink]="['user']">Go to User Profile</button>
<button [routerLink]="['employee']">Go to Employee Homepage</button>
<button [routerLink]="['client']">Go to Client Homepage</button>

<router-outlet></router-outlet>