
<div class="menu-buttons">
  <button [routerLink]="['']">Home</button>

  @if (loginService.authenticated){
    <button *ngIf="loginService.hasAuthority('USER')" [routerLink]="['user']">Go to User Profile</button>
    <button *ngIf="loginService.hasAuthority('EMPLOYEE')" [routerLink]="['employee']">Go to Employee Homepage</button>
    <button *ngIf="loginService.hasAuthority('CLIENT')" [routerLink]="['client']">Go to Client Homepage</button>
    <button (click)="logout()">Logout</button>
  } @else {
    <button [routerLink]="['/login']">Login</button>
  }
</div>

<router-outlet></router-outlet>
