
@if (!loading) {
  <div class="menu-buttons">
    <button
      class="salon-btn-primary"
      [routerLink]="['']">Home</button>

    @if (loginService.authenticated){
      <button
        class="salon-btn-primary"
        *ngIf="loginService.hasAuthority('USER')"
        [routerLink]="['/user']"
      >User Menu</button>
      <button
        class="salon-btn-primary"
        *ngIf="loginService.hasAuthority('CLIENT')"
        [routerLink]="['/client']"
      >Client Portal</button>
      <button
        class="salon-btn-primary"
        *ngIf="loginService.hasAuthority('EMPLOYEE')"
        [routerLink]="['/employee']"
      >Employee Portal</button>
      <button
        class="salon-btn-primary"
        (click)="logout()"
      >Logout</button>
    } @else {
      <button
        class="salon-btn-primary"
        [routerLink]="['/login']"
      >Login</button>
    }
  </div>

  <div style="display: block; width: 75vw; margin: 20px auto;">
    <router-outlet></router-outlet>
  </div>
} @else {
  <h1>Loading Salon Application!</h1>
}
