
@if (ready$ | async) {
  <div id="header" [ngClass]="(displayHeader$|async)? 'scrolled' : ''">
    <div id="header-buttons">
      <button
        class="salon-btn-fancy"
        [ngClass]="(displayHeader$|async)? 'salon-btn-fancy-header':'salon-btn-fancy-bg'"
        [disabled]="page.isRoot()"
        (click)="page.goHome()">Home</button>

      @if (loginService.authenticated$ | async){
        <button
          class="salon-btn-fancy"
          [ngClass]="(displayHeader$|async)? 'salon-btn-fancy-header':'salon-btn-fancy-bg'"
          *ngIf="loginService.hasAuthority('NUSER')"
          [disabled]="page.isOrSubpageOf('/register2')"
          (click)="page.change(['/register2'])"
        >Finish Account Setup</button>
        <button
          class="salon-btn-fancy"
          [ngClass]="(displayHeader$|async)? 'salon-btn-fancy-header':'salon-btn-fancy-bg'"
          *ngIf="loginService.hasAuthority('CLIENT')"
          [disabled]="page.isOrSubpageOf('/client')"
          (click)="page.change(['/client'])"
        >Portal</button>
        <button
          class="salon-btn-fancy"
          [ngClass]="(displayHeader$|async)? 'salon-btn-fancy-header':'salon-btn-fancy-bg'"
          *ngIf="loginService.hasAuthority('EMPLOYEE')"
          [disabled]="page.isOrSubpageOf('/employee')"
          (click)="page.change(['/employee'])"
        >Portal</button>
        <button
          class="salon-btn-fancy"
          [ngClass]="(displayHeader$|async)? 'salon-btn-fancy-header':'salon-btn-fancy-bg'"
          (click)="logout()"
        >Logout</button>
      } @else {
        <button
          class="salon-btn-fancy"
          [ngClass]="(displayHeader$|async)? 'salon-btn-fancy-header':'salon-btn-fancy-bg'"
          [disabled]="page.isOrSubpageOf('/login')"
          (click)="page.change(['/login'])"
        >Login</button>
      }
    </div>

    <!-- social media logos -->
    <div id="social-icons">
      <img class="header-social-icon" ngSrc="assets/social-icons/x.png" height="100" width="100" alt="">
      <img class="header-social-icon" ngSrc="assets/social-icons/instagram.png" height="100" width="100" alt="">
      <img class="header-social-icon" ngSrc="assets/social-icons/tiktok.png" height="100" width="100" alt="">
    </div>
  </div>
  <div id="header-buffer"></div>
  <div id="salon-router-outlet">
    <router-outlet></router-outlet>
  </div>
} @else {
  <div class="d-flex align-items-center m-5">
    <h1>Loading...</h1>
    <div class="spinner-border ms-auto" style="height: 7rem; width: 7rem;" aria-hidden="true"></div>
  </div>
}
