
@if (ready$ | async) {
  <div id="header">
    <div id="menu-buttons">
      <button
        class="salon-btn-fancy"
        [disabled]="currentPageIsRoot()"
        [routerLink]="['']">Home</button>

      @if (loginService.authenticated$ | async){
        <button
          class="salon-btn-fancy"
          *ngIf="loginService.hasAuthority('NUSER')"
          [disabled]="currentPageStartsWith('/register2')"
          [routerLink]="['/register2']"
        >Finish Account Setup</button>
        <button
          class="salon-btn-fancy"
          *ngIf="loginService.hasAuthority('CLIENT')"
          [disabled]="currentPageStartsWith('/client')"
          [routerLink]="['/client']"
        >Portal</button>
        <button
          class="salon-btn-fancy"
          *ngIf="loginService.hasAuthority('EMPLOYEE')"
          [disabled]="currentPageStartsWith('/employee')"
          [routerLink]="['/employee']"
        >Portal</button>
        <button
          class="salon-btn-fancy"
          (click)="logout()"
        >Logout</button>
      } @else {
        <button
          class="salon-btn-fancy"
          [disabled]="currentPageStartsWith('/login')"
          [routerLink]="['/login']"
        >Login</button>
      }
    </div>

    <!-- social media logos -->
    <div id="social-icons">
      <img class="social-icon" src="assets/logo-black.png">
      <img class="social-icon" src="assets/Instagram_Glyph_Black.png">
      <img class="social-icon" src="assets/tiktok_logo.png">
    </div>
  </div>
  <div id="header-buffer"></div>
  <div style="display: block; width: 95vw; margin: 20px auto;">
    <router-outlet></router-outlet>
  </div>
} @else {
  <div class="d-flex align-items-center m-5">
    <h1>Loading...</h1>
    <div class="spinner-border ms-auto" style="height: 7rem; width: 7rem;" aria-hidden="true"></div>
  </div>
}
