
@if (ready$ | async) {
  <div id="header" [ngClass]="(displayHeader$|async)? 'scrolled' : ''">
    <div id="header-buttons">
      <button
        [ngClass]="(displayHeader$|async)? 'salon-btn-fancy-header':'salon-btn-fancy-bg'"
        [disabled]="page.isRoot()"
        (click)="page.goHome()">Home</button>

      @if (loginService.authenticated$ | async) {
        <button
          [ngClass]="(displayHeader$|async)? 'salon-btn-fancy-header':'salon-btn-fancy-bg'"
          *ngIf="loginService.hasAuthority('NUSER')"
          [disabled]="page.hasRoot('/register2')"
          (click)="page.change(['/register2'])"
        >Account</button>

        @if (loginService.hasAuthority('CLIENT'))  {
          <button
            [ngClass]="(displayHeader$|async)? 'salon-btn-fancy-header':'salon-btn-fancy-bg'"
            (click)="page.change(['/client','user'])"
            [disabled]="page.is('/client/user')"
          >Profile</button>

          <button
            [ngClass]="(displayHeader$|async)? 'salon-btn-fancy-header':'salon-btn-fancy-bg'"
            [routerLink]="['/client','schedule']"
            [disabled]="page.is('/client/schedule')"
          >Schedule</button>

          <button
            [ngClass]="(displayHeader$|async)? 'salon-btn-fancy-header':'salon-btn-fancy-bg'"
            (click)="page.change(['/client','booking'])"
            [disabled]="page.subpageOf('/client/book')"
          >Book</button>
        }

        @if (loginService.hasAuthority('EMPLOYEE')) {
          <button
            [ngClass]="(displayHeader$|async)? 'salon-btn-fancy-header':'salon-btn-fancy-bg'"
            (click)="page.change(['/employee','user'])"
            [disabled]="page.is('/employee/user')"
          >Profile</button>
          <button
            [ngClass]="(displayHeader$|async)? 'salon-btn-fancy-header':'salon-btn-fancy-bg'"
            (click)="page.change(['/employee','schedule'])"
            [disabled]="page.is('/employee/schedule')"
          >Schedule</button>
          <button
            [ngClass]="(displayHeader$|async)? 'salon-btn-fancy-header':'salon-btn-fancy-bg'"
            (click)="page.change(['/employee','services'])"
            [disabled]="page.is('/employee/services')"
          >Services</button>
        }

        <button
          [ngClass]="(displayHeader$|async)? 'salon-btn-fancy-header':'salon-btn-fancy-bg'"
          (click)="logout()"
        >Logout</button>
      } @else {
        <button
          [ngClass]="(displayHeader$|async)? 'salon-btn-fancy-header':'salon-btn-fancy-bg'"
          [disabled]="page.hasRoot('/login')"
          (click)="page.change(['/login'])"
        >Login</button>
      }
    </div>

    <!-- social media logos -->
    <div id="social-icons">
      Follow us on Social Media!
      <img class="header-social-icon" ngSrc="assets/social-icons/x.png" height="100" width="100" alt="">
      <img class="header-social-icon" ngSrc="assets/social-icons/instagram.png" height="100" width="100" alt="">
      <img class="header-social-icon" ngSrc="assets/social-icons/tiktok.png" height="100" width="100" alt="">
    </div>
  </div>
  <div id="header-buffer"></div>
  <div id="salon-router-outlet">
    <router-outlet></router-outlet>
  </div>
} @else {
  <div class="d-flex align-items-center m-5">
    <h1>Loading...</h1>
    <div class="spinner-border ms-auto" style="height: 7rem; width: 7rem;" aria-hidden="true"></div>
  </div>
}
