<div style="width: 30vw; margin: 5px auto;">

  @for(error of registerUserErrors; track error) {
    <br><h3>{{error}}</h3>
  }

  <div>

    <h2>Create a username</h2>
    <input
      type="text"
      class="form-control"
      [formControl]="usernameForm"
      required
      placeholder="Enter a username..."
    >

    <br>

    <h2>Create a password</h2>
    <input
      type="password"
      class="form-control"
      [formControl]="passwordForm"
      required
      placeholder="Enter a password..."
    >
  </div>

  <br>

  <button
    [disabled]="processingRegistration$|async"
    class="btn salon-btn-primary"
    (click)="registerUser()"
  >Register!</button>

  <button
    [disabled]="processingRegistration$|async"
    class="btn salon-btn-primary"
    [routerLink]="['/login']"
  >Cancel!</button>

</div>
