
<p class="text-danger">{{ errorMessage$ | async }}</p>

<span>{{ userDialog }}</span>

<input
  class="form-control"
  (change)="newImageUploaded($event)"
  [formControl]="this.fileInput"
  type="file"
  required="false"
>

@if (fileInput.value && (croppingInProgress$|async) && imageToCrop) {
  <br>
  <button
    type="button"
    class="btn salon-btn-primary"
    (click)="confirmCropAndReturnImageObj()"
    *ngIf="fileInput.value && (croppingInProgress$|async) && imageToCrop"
  >
    Save and Upload!
  </button>
  <image-cropper
    [imageChangedEvent]="imageToCrop"
    [maintainAspectRatio]="forceAspectRatio"
    [aspectRatio]="cropAspectRatio"
    format="png"
    (imageCropped)="imageCropped($event)"
    style="max-height: 500px; max-width: 500px;"
  ></image-cropper>
}

