<h2 class="salon-subheader"> Our Services </h2>

<div id="search-page-wrapper">
  <div id="search-page-tabs">

    <!-- generates tabbed layout based on config in component -->
    <ul class="nav">
      @for (tab of tabs; track tab.order;) {
        <li class="nav-item">
          <a
            class="salon-btn-fancy nav-link"
            [ngClass]="(currentPage$|async)===tab.href?'disabled':''"
            (click)="currentPage$.next(tab.href)">{{ tab.title }}</a>
        </li>
      }
    </ul>

    <div id="search-page-results">
    @if (loading$|async) { <!-- displays if the component is fetching data-->
      <p>loading...</p>
    }
    @else {

      @if((currentPage$|async)===OTHER_TAB) { <!-- describes search page -->

        <h3>Search Services</h3>

        @if (!searchServiceForm.value) {
          <p>Start typing to view available services...</p>
        }

        <input
          required
          type="text"
          class="form-control"
          [formControl]="searchServiceForm"
          placeholder="Search for services..."
        >

        <br>

        @for (service of (searchResults$|async); track service.serviceId) {
          <h3
            class="search-result-links"
            (click)="page.change(['/client','book',service.serviceId])">{{ service.name }}</h3>
          <p>With {{ service.employee.firstName }} {{service.employee.lastName }}</p>
        } @empty {
          @if (searchServiceForm.value) {
            <h1>No results found!</h1>
          }
        }
      }
      @else { <!-- describes all other tab pages -->
        @for (service of (searchResults$|async); track service.serviceId) {
          <h3
            class="search-result-links"
            (click)="page.change(['/client','book',service.serviceId])">{{ service.name }}</h3>
          <p>With {{ service.employee.firstName }} {{service.employee.lastName }}</p>
        } @empty {
          @if (searchServiceForm.value) {
            <h1>No results found!</h1>
          }
        }
      }
    }
    </div>
  </div>

  <div id="search-page-content">
    <img
      height="450" width="450" priority
      id="perm-image"
      ngSrc="assets/images/brown_hair_450.jpeg"
      alt="Brunette woman with wavy hair getting hair combed at salon.">
  </div>
</div>
