@if (employeeInfo$ | async; as employeeProfile) {

  <button class="salon-btn-secondary-outline" (click)="page.goBack()">Back</button>

  <h1 style="text-align: center;"><strong>{{ employeeProfile.firstName }} {{ employeeProfile.lastName }}</strong></h1>
  <h4 style="text-align: center;"><strong>Pronouns: {{employeeProfile.pronouns }}</strong></h4>
  <br>

  <div id="bio-card-wrapper">

    <div id="bio-card-image">
      <img
        style="max-height: 400px; max-width: 600px; border-radius:50%;"
        [src]="employeeProfile.profileImage"
      >
    </div>

    <div id="bio-info">

      <br>
      <h2><strong>Biography</strong></h2>
      <p>{{ employeeProfile.bio }}</p>

      <br>
      <h2><strong>Contact Info</strong></h2>
      <p>Contact Preference: {{ employeeProfile.contactPreference }}</p>
      <p><i class="bi bi-envelope"></i>{{ employeeProfile.email }}</p>
      <p><i class="bi bi-telephone-fill"></i>{{ employeeProfile.phoneNumber | americanPhoneNumber }}</p>

      <br>

    </div>

    <br><br>

  </div>

}
