
<h2 style="text-align: center;">Please enter your contact information!</h2>
<p style="text-align: center;"><i>After entering your contact information, you should gain access to the client portal</i></p>

@for(error of (serviceErrors$|async); track error) {
  <br><h3>{{error}}</h3>
}

<br>

<p class="text-align = center;"><strong>Basic Info</strong></p>

<salon-selector
  [selector$]="pronounSelector$"
  [options]="SelectorDeclarations.pronounOptions"
  title="Pronouns"
  undefinedOption="Please select your pronouns..."
></salon-selector>

<div class="input-group">
  <span class="input-group-text">First and Last name</span>
  <input required [formControl]="firstNameForm" type="text" aria-label="First name" class="form-control" placeholder="Enter First Name">
  <input required [formControl]="lastNameForm" type="text" aria-label="Last name" class="form-control" placeholder="Enter Last Name">
</div>

<form class="row g-3">
  <div class="col-md-6">
    <label class="form-label">Email</label>
    <input required [formControl]="emailForm" class="form-control" placeholder="example@email.com">
  </div>
  <div class="col-md-6">
    <label class="form-label">Phone</label>
    <input required [formControl]="phoneNumberForm" class="form-control" placeholder="5555555555">
  </div>
  <div class="col-md-6">
    <label class="form-label">Address</label>
    <input required [formControl]="addressLineOneForm" class="form-control" placeholder="1234 Main St">
  </div>
  <div class="col-md-6">
    <label class="form-label">Address 2 <i>(Optional)</i> </label>
    <input [formControl]="addressLineTwoForm" class="form-control" placeholder="Apartment, studio, or floor">
  </div>
  <div class="col-md-6">
    <label class="form-label">City</label>
    <input required [formControl]="cityForm" class="form-control" placeholder="Jamestown">
  </div>
  <div class="col-md-4">

    <salon-selector
      [selector$]="selectedState$"
      [options]="SelectorDeclarations.stateOptions"
      title="State"
      undefinedOption="Please select your state..."
    ></salon-selector>

  </div>
  <div class="col-md-2">
    <label class="form-label">Zip</label>
    <input required [formControl]="zipCodeForm" class="form-control">
  </div>

  <div class="col-12">
    <button type="button" class="salon-btn-primary" (click)="createUserProfile()">Create Account</button>
  </div>
</form>



