@if (employeeInfo$ | async; as employeeProfile) {

  <h2>Meet {{ employeeProfile.firstName }} {{ employeeProfile.lastName }}!</h2>
  <h4>Pronouns: {{employeeProfile.pronouns }}</h4>
  <p>{{ employeeProfile.bio }}</p>

  <img
    style="max-height: 400px; max-width: 600px"
    [src]="employeeProfile.profileImage">

  <br><br>

  <h2>Contact Info</h2>
  <h4>Contact Preference: {{ employeeProfile.contactPreference }}</h4>
  <h4>Email: {{ employeeProfile.email }}</h4>
  <h4>Phone: {{ employeeProfile.phoneNumber | americanPhoneNumber }}</h4>

}
