<br>
@if (currentService$|async; as service) {

  <button class="salon-btn-secondary-outline" (click)="page.change(['/employee', 'services'])">Back</button>

  <h3>Currently editing {{ service.name }}</h3>
  <h3>{{ service.cost!.toString() | money }} for {{ service.length }} minutes</h3>

  @for (image of service.content; track image) {
    <br>
    <img
      style="max-height: 400px; max-width: 600px"
      [ngSrc]="image"
      height="200"
      width="300"
      >
  } @empty {
    <p>No images!</p>
  }


  <div class="input-group mb-3">
    <input
      type="file"
      class="form-control"
      [formControl]="this.profilePhotoUploadForm"
      (change)="cacheImageToUpload($event)"
    >
    <label
      class="input-group-text"
      (click)="uploadProfileImage()">Upload</label>
  </div>

}

