<br>
@if (currentService$|async; as service) {

  <button class="salon-btn-secondary-outline" (click)="page.change(['/employee', 'services'])">Back</button>

  <h3>Currently editing {{ service.name }}</h3>
  <h3>Length {{ service.length }}</h3>
  <h3>Cost {{ service.cost!.toString() | money }}</h3>


  @for (image of service.content; track image) {
    <img
      style="max-height: 400px; max-width: 600px"
      [src]="image">
  } @empty {
    <p>No images!</p>
  }


  <div class="input-group mb-3">
    <input
      type="file"
      class="form-control"
      [formControl]="this.profilePhotoUploadForm"
      (change)="cacheImageToUpload($event)"
    >
    <label
      class="input-group-text"
      (click)="uploadProfileImage()">Upload</label>
  </div>

}

